{% extends 'home/base.html' %}

{% block title %}About{% endblock %}
{% block navbar %}
    {% include 'home/navbar.html' with active_page='about' %}
{% endblock %}
{% block header %}<h1 class="cursor-default">About</h1>{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="cursor-default alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{message}}</div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'about' %}" method="post">
        {{ form.as_p }}
        <input class="btn btn-secondary" type="submit" value="Send" />
        {% csrf_token %}
    </form>
{% endblock %}