{% extends 'home/base.html' %}
{% load static %}

{% block title %}Entry Details{% endblock %}
{% block header %}<h1 class="cursor-default">Entry Details</h1>{% endblock %}
{% block content %}
  <div class="cursor-default card {% if object.weatherType.name == 'Sunny' or object.weatherType.name == 'Cloudy' or object.weatherType.name == 'Showering' %}text-white{% endif %}"
       style="background-image: url('../../../../media/{{object.weatherType.name}}.jpg');">
      <div class="card-body"><h5 class="card-title"><b>{{object.location.name}}</b></h5>
          <p class="card-text mb-1"><b>In {{object.dateTime}}:</b></p>
          <ul>
            <li class="card-text"><b>The temperature was {{object.temperature}}°C;</b></li>
            <li class="card-text"><b>The humidity in the air was {{object.humidity}}%.</b></li>
          </ul>
      </div>
      <div class="card-footer">
          <small><b>The weather was {{object.weatherType.name}}.</b></small>
      </div>
  </div>
{% endblock %}