{% extends 'home/base.html' %}

{% block navbar %}
    {% include 'home/navbar.html' with active_page='contact' %}
{% endblock %}
{% block title %}Contact{% endblock %}
{% block header %}<h1 class="cursor-default">Contact</h1>{% endblock %}
{% block content %}
    <div class="btn-group mb-3" role="group" aria-label="Basic example">
        <a href="{% url 'contact' %}" class="btn btn-secondary">Contact</a>
        <a href="{% url 'contact_v1' %}" class="btn btn-secondary">ContactV1</a>
        <a href="{% url 'contact_v2' %}" class="btn btn-secondary">ContactV2</a>
    </div>

    <form action="{% url 'contact' %}" method="post">
        {{ form.as_p }}
        <input class="btn btn-secondary" type="submit" value="Send" />
        {% csrf_token %}
    </form>
{% endblock %}